.menu-btn {
  position: absolute;
  z-index: 2;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include ease-out;

  .btn-line {
    width: 25px;
    height: 2px;
    margin: 6px 0 6px 0;
    background: $primary-color;
    @include ease-out;
  }

  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
.menu {
}
